/*! Media Query Build */
/* 
    Common units of measurement:
        - Percentages - %
        - Viewport Width: vw
        - Viewport Height: vh
        - Root Eleent Font-Size: rem;
        - Parent Font-Size: em;

        Using Media Queries
            ex: 
                @media screen { <--- target screens only

                    div {    <---- element to adjust
                        background-color: blue;  <--- attribute of element
                    }

                }

            AND
                @media screen and (min-width:750px) {
                    
                }
            
            OR
                @media screen, (min-width: 750px) {
                
                }
        
        Build with Mobile First concept!
*/

/* 
* CHALLENGE 1:
    - If the user is viewing the page in a landscape mode on their phone (galaxy), increase the font size of the nav bar and footer.
    - Include a bit of spacing within the footer so that the text isn't directly on the bottom of the screen.

* CHALLENGE 2:
    - Create a media query to accept a screen AND the width of a iPhone SE (375px).
    - Have the navigational options not display.
    - Enlarge the Brand so that it is more of a focal point in the header. 
        - approx. 30-40pt

Your code below
*/

@media (max-width: 420px) {
    /* body {
        background-color: darkred;    [used for testing]
    } */

    /* global */
    p {
        font-size: 16pt;
    }

    /* header */
    nav ul {
        padding: 0;
    }

    nav ul li {
        font-size: x-large;
        margin: 0 1.5rem;
    }

    /* menu */
    .item-desc {
        width: 100vw;
    }

    .desc {
        flex-direction: column;
        align-items: center;
    }

    .desc > p {
        padding: 1rem 3rem;
    }

    /* foot */
    footer {
        font-size: x-large;
    }

}